@import "colors";
@import "values";
@import "mixins";

// site-wide backgrounds and text colors
body, div.navbar, html, input, #wrap {
    color:              $text_color                 !important;
    background-color:   $dark_bg                    !important;
}

// Remove box and text shadows for a flat look
* {
    @include            no-box-shadow();
    text-shadow:        none                        !important;
}

// Generally speaking we want borders to have the designed border color.
// Exceptions will come later. Also, we want borders only in specific places,
// so they're disabled by default
*:not(.pointer):not(.pointer-inner) {
    border:             0px                         !important;
    border-color:       $border_color               !important;
}

// Text in the top navbar always has a dark background,
// so it should always be light
ul#nav-bar li a {
    color:              $always_light_text_color    !important;
}
