div.forabg,
div.forumbg {
    background:         none                    !important;
}

div.forabg div.inner,
div.forumbg div.inner {
    background-color:   $light_hints            !important;
    border-radius:      $big_border_radius      !important;
    padding:            $padding                !important;
}

div.forabg div.inner ul.topiclist.forums,
div.forumbg div.inner ul.topiclist.forums {
    background-color:   $light_hints            !important;
}

div.forabg div.inner ul.topiclist.forums li.row,
div.forumbg div.inner ul.topiclist.forums li.row {
    background-color:   $dark_bg                !important;
}

div.forabg div.inner ul.topiclist.forums li.row:hover,
div.forumbg div.inner ul.topiclist.forums li.row:hover {
    background-color:   $normal_bg              !important;
}

// Vertically center stuff inside rows
li.row dt {
    padding-top:        6px                     !important;
}

li#for7 dt, li#for13 dt {
    padding-top:        0px                     !important;
}

div.forabg li.row dd.topics,
div.forabg li.row dd.posts {
    padding-top:        11px                    !important;
}

div.forabg li.row dd.lastpost {
    padding-top:        2px                     !important;
}

div.forumbg li.row dd.posts,
div.forumbg li.row dd.views {
    padding-top:        8px                     !important;
}

div.forumbg li.row dd.lastpost {
    padding-top:        3px                     !important;
}

// Median XL Worldwide section
div#cat26.forabg div.inner ul.topiclist.forums {
    background-color:   $dark_bg                !important;
    border-radius:      $small_border_radius    !important;
    margin:             0px                     !important;
}

#for27.row,
#for28.row,
#for29.row,
#for30.row {
    margin-bottom:      5px                     !important;
    margin-top:         5px                     !important
}

#for27.row dl.forum_read,
#for28.row dl.forum_read,
#for29.row dl.forum_read,
#for30.row dl.forum_read {
    opacity:            0.2                     !important;
}

#for27.row dl.forum_read:hover,
#for28.row dl.forum_read:hover,
#for29.row dl.forum_read:hover,
#for30.row dl.forum_read:hover {
    opacity:            0.4                     !important;
}

#for27.row dl.forum_unread,
#for28.row dl.forum_unread,
#for29.row dl.forum_unread,
#for30.row dl.forum_unread {
    opacity:            0.8                     !important;
}

#for27.row dl.forum_unread:hover,
#for28.row dl.forum_unread:hover,
#for29.row dl.forum_unread:hover,
#for30.row dl.forum_unread:hover {
    opacity:            1                       !important;
}
