div.forabg,
div.forumbg {
    background:         none                    !important;
}

div.forabg div.inner,
div.forumbg div.inner {
    border-radius:      $big_border_radius      !important;
    padding:            5px                     !important;
}

// Vertically center stuff inside rows
li.row dt {
    padding-top:        6px                     !important;
}

li#for7 dt, li#for13 dt {
    padding-top:        0px                     !important;
}

div.forabg li.row dd.topics,
div.forabg li.row dd.posts {
    padding-top:        11px                    !important;
}

div.forabg li.row dd.lastpost {
    padding-top:        2px                     !important;
}

div.forumbg li.row dd.posts,
div.forumbg li.row dd.views {
    padding-top:        8px                     !important;
}

div.forumbg li.row dd.lastpost {
    padding-top:        3px                     !important;
}

#cat17 div.inner {
    padding:            0px                     !important;
}

// Median XL Worldwide section
#for18.row {
    margin-bottom:      5px                     !important;
    margin-top:         5px                     !important
}

#for18.row dl.forum_read {
    opacity:            0.2                     !important;
}

#for18.row dl.forum_read:hover {
    opacity:            0.4                     !important;
}

#for18.row dl.forum_unread {
    opacity:            0.8                     !important;
}

#for18.row dl.forum_unread:hover {
    opacity:            1                       !important;
}
