// icon button (icons for every button)
a.icon-button::before, button.icon-button::before, span.icon-button::before {
    background-image:   none                !important;
    font-family:        FontAwesome         !important;
    font-size:          8pt                 !important;
    text-align:         center              !important;
}

// button icons
a.delete-icon::before {
    content:            '\f00d'             !important;
}

a.edit-icon::before {
    content:            '\f040'             !important;
}

button.forwardpm-icon::before {
    content:            '\f045'             !important;
    font-size:          10pt                !important;
    padding-left:       3px                 !important;
    padding-right:      2px                 !important;
    position:           relative            !important;
}

a.info-icon::before {
    content:            '\f129'             !important;
}

a.newpm-icon::before {
    content:            '\f069'             !important;
    padding-left:       2px                 !important;
    padding-top:        1px                 !important;
}

a.post-icon::before,
button.post-icon::before {
    content:            '\f067'             !important;
    padding-left:       2px                 !important;
    padding-top:        1px                 !important;
}

a.quote-icon::before {
    content:            '\f10d'             !important;
    font-size:          7pt                 !important;
}

a.pmreply-icon,
a.reply-icon {
    line-height:        16px                !important;
}

a.pmreply-icon::before,
a.reply-icon::before {
    content:            '\f112'             !important;
    margin-top:         2px                 !important;
    padding-left:       2px                 !important;
}


a.report-icon::before {
    content:            '\f12a'             !important;
}

a.search-adv-icon::before {
    content:            '\f013'             !important;
    left:               -1px                !important;
    padding-top:        2px                 !important;
    position:           relative            !important;
}

a.warn-icon::before {
    content:            '\f071'             !important;
}

button.search-icon::before {
    content:            '\f002'             !important;
    left:               -1px                !important;
    padding-top:        2px                 !important;
    position:           relative            !important;
}

span.tools-icon::before {
    content:            '\f0ad'             !important;
    left:               1px                 !important;
    padding-top:        2px                 !important;
    position:           relative            !important;
}

span.modtools-icon::before {
    content:            '\f0e3'             !important;
    left:               1px                 !important;
    padding-top:        2px                 !important;
    position:           relative            !important;
}

// Right part of tools button and jump to button
span.dropdown-select::after {
    background-image:   none                !important;
    border-left:        1px solid           !important;
    content:            '\f0d7'             !important;
    font-family:        FontAwesome         !important;
    margin-top:         -3px                !important;
    padding-top:        7px                 !important;
    text-align:         center              !important;
}

// Fix for tools button right arrow
span.dropdown-select[title="Topic tools"]::after {
    margin-top:         0px                 !important;
}

// Jump to button only
span.dropdown-select[title="Jump to"] {
    line-height:        16px                !important;
    padding-left:       7px                 !important;
    padding-right:      24px                !important;
}

// Compact post buttons
ul.post-buttons.compact li.dropdown-container a::before {
    content:            '\f0c9'             !important;
    left:               -2px                !important;
    position:           relative            !important;
}

ul.post-buttons.compact li.dropdown-container ul.dropdown-contents a::before {
    display:            none                !important;
}
