label[for=icon-1] img, label[for=icon-4] img, label[for=icon-5] img,
label[for=icon-6] img, label[for=icon-7] img, label[for=icon-8] img,
label[for=icon-9] img, label[for=icon-10] img {
    display: none                   !important;
}

label[for=icon-1]::after, label[for=icon-4]::after, label[for=icon-5]::after,
label[for=icon-6]::after, label[for=icon-7]::after, label[for=icon-8]::after,
label[for=icon-9]::after, label[for=icon-10]::after {
    color:          $text_color     !important;
    font-family:    FontAwesome     !important;
    font-size:      11pt            !important;
    font-weight:    normal          !important;
    position:       relative        !important;
    top:            3px             !important;
}

label[for=icon-1]::after {
    color:          $colored_hints  !important;
    content:        '\f06d'         !important;
}

label[for=icon-4]::after {
    color:          $colored_hints  !important;
    content:        '\f08a'         !important;
}

label[for=icon-5]::after {
    content:        '\f006'         !important;
}

label[for=icon-6]::after {
    content:        '\f1cd'         !important;
}

label[for=icon-7]::after {
    content:        '\f0e5'         !important;
}

label[for=icon-8]::after {
    content:        '\f05a'         !important;
}

label[for=icon-9]::after {
    content:        '\f059'         !important;
}

label[for=icon-10]::after {
    content:        '\f071'         !important;
}
