div.panel.bg1,
li.donate-comment {
    background-color:   $dark_bg                !important;
    border:             1px solid $border_color !important;
}

div.panel.bg1 div.inner div,
div.panel.bg2 form.payPalForm {
    color:              $text_color             !important;
}

input#manual-input {
    background-color:   $normal_bg              !important;
    height:             24px                    !important;
    border-radius:      $small_border_radius    !important;
}

li.donate-comment {
    border-radius:      $small_border_radius    !important;
}
