// Vertically center some form options
fieldset dl dd {
    margin-bottom:      0px                     !important;
}

fieldset dl dd#tz_select_date {
    margin-bottom:      1px                     !important;
}

fieldset dl dd label {
    position:           relative                !important;
    top:                1px                     !important;
}

@media (max-width: 1600px) {
    fieldset dl dd label[for="allowpm1"],
    fieldset dl dd label[for="allowpm0"],
    fieldset dl dd label[for="hideonline1"],
    fieldset dl dd label[for="hideonline0"] {
        top:                13px                    !important;
    }
}

@media (min-width: 1601px) {
    fieldset dl dd label[for="allowpm1"],
    fieldset dl dd label[for="allowpm0"],
    fieldset dl dd label[for="bday_day"],
    fieldset dl dd label[for="bday_month"],
    fieldset dl dd label[for="bday_year"],
    fieldset dl dd label[for="hideonline1"],
    fieldset dl dd label[for="hideonline0"] {
        top:                 6px                    !important;
    }
}

fieldset dl dt label {
    position:           relative                !important;
}

dl.pmlist label {
    position:           relative                !important;
}

fieldset dl dt label[for="timezone"] {
    top:        18px                    !important;
}

input#allowpm1,
input#allowpm0,
input#hideonline1,
input#hideonline0 {
    margin-top:         -1px                    !important;
}

input#disable_bbcode,
input#disable_magic_url,
input#disable_smilies {
    margin-top:         1px                     !important;
}

@media (max-width: 1024px) {
    input#cur_password {
        margin-top:         17px                    !important;
    }

    select#dateoptions {
        margin-top:         7px                     !important;
    }
}

@media (max-width: 1440px) {
    input#pf_phpbb_twitch {
        margin-top:         11px                    !important;
    }
}

@media (min-width: 1600px) {
    input#pf_phpbb_twitch {
        margin-top:         4px                    !important;
    }
}

@media (min-width: 1025px) and (max-width: 1600px) {
    form#ucp div#avatar_option_avatar_driver_remote dl:nth-child(2) dd,
    input#avatar_remote_url,
    input#avatar_upload_url,
    input#cur_password,
    input#new_password,
    input#password_confirm {
        margin-top:         11px                    !important;
    }
}

@media (min-width: 1601px) and (max-width: 2048px) {
    form#ucp div#avatar_option_avatar_driver_remote dl:nth-child(2) dd,
    input#avatar_remote_url,
    input#avatar_upload_url,
    input#new_password,
    input#password_confirm {
        margin-top:         4px                    !important;
    }

    input#cur_password {
        margin-top:         11px                   !important;
    }
}

@media (min-width: 2049px) {
    input#cur_password {
        margin-top:         4px                    !important;
    }
}
