div#postingbox {
    border:             1px solid               !important;
}

div.abbc3_button,
input.abbc3_button {
    border-radius:      $small_border_radius    !important;
}

// Make imgur button behave like the rest of them
div.abbc3_button {
    padding:            1px                     !important;
}

div.abbc3_button img {
    cursor:             pointer                 !important;
}

// Attach panel
table.zebra-list th.attach-name {
    text-align:         left                    !important;
}

table.zebra-list th.attach-status {
    width:              60px                    !important;
}

table.zebra-list tr.attach-row textarea.inputbox {
    height:             21px                    !important;
}

span.file-progress {
    width:              60px                    !important;
    top:                7px                     !important;
    position:           relative                !important;
}
