@import "button_icons";
@import "compose_pm_icons";
@import "imageset_icons";
@import "mark_read_icon";
@import "small_icons";
@import "subforum_icons";

// Go to top icon
a.top2 {
    background-image:   none                !important;
}

a.top2::before {
    content:            '\f139'             !important;
    font-family:        FontAwesome         !important;
    font-size:          9pt                 !important;
    position:           absolute            !important;
    margin-left:        -14px               !important;
}

// Quick links icon
#quick-links > a::before {
    border:             0px                 !important;
    content:            '\f0c9'             !important;
    top:                4px                 !important;
}

// Attachment uploaded icon
span.file-uploaded {
    background-image:   none                !important;
}

span.file-uploaded::before {
    content:            '\f058'             !important;
    font-family:        FontAwesome         !important;
    font-size:          12pt                !important;
}

// Quote icon
blockquote {
    background-image:   none                !important;
}

blockquote div cite::before {
    content:            '\f10d'             !important;
    font-family:        FontAwesome         !important;
    left:               -10px               !important;
    position:           relative            !important;
}

// Zoom image icon
div.postimage-zoom {
    opacity:            0.5                 !important;
}

div.postimage-zoom:hover {
    opacity:            1                   !important;
}

// Icon before "return to x" text at the bottom of a thread
a.arrow-left {
    background-image:   none                !important;
}

a.arrow-left:hover {
    left:               -3px                !important;
    position:           relative            !important;
}

a.arrow-left::before {
    content:            '\f104'             !important;
    font-family:        FontAwesome         !important;
    padding-right:      5px                 !important;
}

a.arrow-left:hover::before {
    content:            '\f100'             !important;
}

// Compact post buttons icon
ul.post-buttons.compact > a::before {
    content:            '\f0c9'             !important;
    left:               -1px                !important;
    position:           relative            !important;
}
