input.inputbox, textarea {
    border-radius:      $small_border_radius    !important;
}

input.inputbox:not(.search).tiny {
    height:             21px                    !important;
}

input.search.tiny {
    border:             0px                                                 !important;
    border-radius:      $small_border_radius 0px 0px $small_border_radius   !important
}

// Chrome's select dropdown arrow is always black, for this reason
// select tags will always need to have a light bg and a dark text
select {
    border-radius:      $small_border_radius    !important;
    height:             24px                    !important;
}

select#usernames {
    height:             auto                    !important;
}

#flag-container {
    border-radius:      $small_border_radius    !important;
}
