.dropdown-extended a.mark_read {
    background-color:   $colored_hints      !important;
}

.icon-mark {
    background-image:   none                !important;
}

.icon-mark::after, .icon-mark:hover::after {
    content:            '\f05d'             !important;
    font-family:        FontAwesome         !important;
    font-size:          16pt                !important;
    left:               6px                 !important;
    position:           relative            !important;
    top:                1px                 !important;
}

.icon-mark::after {
    color:              $light_bg          !important;
}

.icon-mark:hover::after {
    left:               11px                !important;
}
