// Links
a.postlink,
a.postlink-local {
    border-bottom:      1px solid                   !important;
}

a.postlink:hover,
a.postlink-local:hover {
    text-decoration:    none                        !important;
}

// Horizontal rulers should have borders but Firefox is stupid, so we get this
div.container div.row + hr,
div.postbody div.content hr {
    border-top:         1px solid                   !important;
}

// Except dashed ones which are used stupidly and dividers which are clutter
hr.dashed,
hr.divider {
    border-top:         0px                         !important;
}

div.stat-block p {
    border-radius:      $big_border_radius          !important;
    padding:            5px                         !important;
}

// Topic previews when hovering the mouse over a thread title
#topic_preview {
    border:             1px solid                   !important;
}

// Forum message
div#message {
    border:             1px solid                   !important;
}
