// Links
a.postlink,
a.postlink-local {
    border-bottom:      1px solid                   !important;
}

a.postlink:hover,
a.postlink-local:hover {
    text-decoration:    none                        !important;
}

// Headers
div.container hr:not(.divider) {
    border-top:         1px solid                   !important;
}

hr.dashed {
    border-top:         0px                         !important;
}

div.stat-block p {
    border-radius:      $big_border_radius          !important;
    padding:            5px                         !important;
}

// Topic previews when hovering the mouse over a thread title
#topic_preview {
    border:             1px solid                   !important;
}

// Forum message
div#message {
    border:             1px solid                   !important;
}
