div.navbar {
    background-color:   $dark_bg                    !important;
    border:             1px solid $border_color     !important;
}

// Dropdown arrow
div.pointer {
    border-color:       $border_color transparent   !important;
}

div.pointer-inner {
    border-color:       $dark_bg transparent        !important;
}

// Dropdown menus
div.dropdown-contents, div.dropdown-contents div.header, ul.dropdown-contents {
    background:         $dark_bg                    !important;
    color:              $text_color                 !important;
}

div.dropdown-contents, ul.dropdown-contents  {
    border:             1px solid $border_color     !important;
}

div.dropdown-contents div.header {
    border-bottom:      1px solid $border_color     !important;
}

div.dropdown-contents div.footer {
    border-top:         1px solid $border_color     !important;
}

// Notification block colored_hints
a.notification-block:hover{
    background-color:   $light_bg                   !important;
}

a.notification-block:hover span.username-coloured {
    color:              $text_color                 !important;
}

a.notification-block p.notification-time {
    color:              $colored_hints              !important;
}

// Username "icons" (circle on the left and triangle on the right)
#username_logged_in::before {
    content:            ''                          !important;
}

div.header-profile span.username::after {
    content:            '\f0d7'                     !important;
    font-family:        FontAwesome                 !important;
    font-size:          130%                        !important;
}
