li.row div.pagination {
    background-image:   none                    !important;
}

div.action-bar div.pagination a.dropdown-toggle,
div.list-inner div.pagination ul li a,
div.action-bar div.pagination ul li a,
div.pagination ul li span {
    background-image:   none                    !important;
    background-color:   $dark_bg                !important;
    border:             1px solid $border_color !important;
    border-radius:      $small_border_radius    !important;
    color:              $pagination_color       !important;
}

div.action-bar div.pagination a.dropdown-toggle:hover,
div.list-inner div.pagination ul li a:hover,
div.action-bar div.pagination ul li a:hover,
div.pagination ul li span:hover {
    background-color:   $bright_colored_hints   !important;
    color:              $dark_text_color        !important;
}

div.pagination ul li.active span {
    background-color:   $colored_hints          !important;
    color:              $dark_text_color        !important;
}

div.pagination ul li.ellipsis span,
li.ellipsis span {
    border:             0px                     !important;
    color:              $text_color             !important;
    font-size:          110%                    !important;
}

div.pagination a.dropdown-toggle::before,
div.pagination li.next a::before,
div.pagination li.previous a::before {
    font-family:        FontAwesome             !important;
}

div.pagination a.dropdown-toggle::before {
    content:            '\f178'                 !important;
    font-size:          16pt                    !important;
}

div.pagination li.next a::before,
div.pagination li.previous a::before {
    font-size:          9pt                     !important;
    position:           relative                !important;
    top:                1px                     !important;
}

div.pagination li.next a::before {
    content:            '\f054'                 !important;
    left:               1px                     !important;
}

div.pagination li.previous a::before {
    content:            '\f053'                 !important;
}
