div.forumbg.module,
div.forumbg.module div.bg1,
table#lastposts {
    border-radius:      $small_border_radius    !important;
}

div.portal div.forumbg.forumbg-table,
div.portal div.forumbg.forumbg-table div.inner {
    padding:            0px                     !important;
}

div.portal div.forumbg.forumbg-table div.inner thead * {
    padding-bottom:     4px                     !important;
    padding-top:        0px                     !important;
}

form#shoutbox div.row-input input {
    height:             1.7em                   !important;
    border-radius:      $small_border_radius    !important;
    line-height:        1.7em                   !important;
}

div.shouts a.username {
    font-weight:        bold                    !important;
}

div.shouts span.timeago {
    opacity:            0.4                     !important;
}

div.shouts a:not(.username):not(.username-coloured) {
    border-bottom:      1px solid               !important;
}

div.shouts a:not(.username):not(.username-coloured) {
    text-decoration:    none                    !important;
}
