// Post content like quotes, code etc

// This makes sure that the first container in a nested chain
// does not have any border, but makes nested ones do
div.content blockquote,
div.content blockquote.uncited,
div.content code,
div.content div.codebox,
div.content div.detail-spoiler div.hidden,
div.content div.spoilwrapper {
    border:             1px solid               !important;
}

div.content blockquote.uncited {
    padding-top:        5px                     !important;
}

div.content > blockquote,
div.content > blockquote.uncited,
div.content div.codebox > code,
div.content > div.codebox,
div.content > div.detail-spoiler div.hidden,
div.content > div.spoilwrapper {
    border:             0px                     !important;
}

blockquote,
code,
div.codebox,
div.detail-spoiler div.hidden,
div.spoilwrapper,
pre.nfo {
    border-radius:      $small_border_radius    !important;
}

div.hidebox_visible, div.hidebox_hidden {
    border-radius:      $small_border_radius    !important;
}

div.content div.hidebox_title {
    border-right:       1px solid               !important;
    border-bottom:      1px solid               !important;
    border-radius:      $small_border_radius 0px $small_border_radius 0px   !important;
    left:               0px                     !important;
    top:                0px                     !important;
}
