// Post content like quotes, code etc

// This makes sure that the first container in a nested chain
// does not have any border, but makes nested ones do
div.content > blockquote,
div.content > div.codebox,
div.content > div.detail-spoiler div.hidden,
div.content > div.spoilwrapper,
div.codebox > code {
    border:             0px                     !important;
}

blockquote, code, div.codebox, div.detail-spoiler div.hidden,
div.spoilwrapper {
    border:             1px solid $border_color !important;
}

blockquote, code, div.codebox, div.detail-spoiler div.hidden,
div.spoilwrapper, pre.nfo {
    background-color:   $dark_bg                !important;
    border-radius:      $small_border_radius    !important;
}

code {
    color:              $code_color             !important;
}

div.spoiltitle span.spoilbtn, div.spoilcontent, pre.nfo {
    color:              $text_color             !important;
}

div.hidebox_visible, div.hidebox_hidden {
    border-radius:      $small_border_radius    !important;
    color:              $dark_text_color        !important;
}

div.hidebox_visible {
    background-color:   $alt_colored_hints      !important;
}

div.hidebox_hidden {
    background-color:   $weak_colored_hints     !important;
}

div.hidebox_title {
    border-right:       1px solid $dark_bg      !important;
    border-bottom:      1px solid $dark_bg      !important;
    border-radius:      $small_border_radius 0px $small_border_radius 0px   !important;
    color:              $dark_text_color        !important;
    left:               0px                     !important;
    top:                0px                     !important;
}

dl.attachbox {
    background-color:   $dark_bg                !important;
    color:              $text_color             !important;
}

dl.thumbnail a,
img.postimage {
    background-color:   $dark_bg                !important;
}
