$always_light_text_color:   #dbdbdb;
$always_dark_text_color:    #333333;
$always_light_bg:           #bababa;

$text_color:                #333333;
$dark_text_color:           #dbdbdb;
$author_text_color:         #dbdbdb;
$version_text_color:        #333333;

$lightest_bg:               #444444;
$light_bg:                  #bfbfbf;
$normal_bg:                 #d0d0d0;
$dark_bg:                   #dddddd;

$input_bg:                  #bababa;
$placeholder_color:         #828282;

$light_hints:               #444444;
$bright_colored_hints:      #d23636;
$colored_hints:             #a73939;
$weak_colored_hints:        #883939;
$alt_colored_hints:         #78b082;
$alt_bright_colored_hints:  #16bb16;

$transparent_hints:         rgba(#ff8f8f, 0.5);

$border_color:              #c9c9c9;

$pm_marked_color:           #dd8800;
$pm_replied_color:          #8470d2;
$pm_friend_color:           #16bb16;
$pm_foe_color:              #d23636;

$cookie_bar_plus:           #16bb16;
$cookie_bar_minus:          #d23636;

$code_color:                #20a220;
$pagination_color:          #8c7a5c;
$author_button_color:       #195ba8;
$version_button_color:      #cdcd0c;
$bot_names_color:           #783c8c;
