form#agreement div.panel,
form#register div.panel {
    border:             1px solid               !important;
}

form#register input#new_password,
form#register input#password_confirm,
form#register input#username {
    position:           relative                !important;
}

form#register input#username {
    top:                19px                    !important;
}

form#register input#new_password {
    top:                8px                     !important;
}

form#register label[for="password_confirm"] {
    top:                6px                     !important;
}

form#register input#password_confirm {
    top:                -6px                    !important;
}

div.captcha-panel input#confirm_code {
    height:             21px                    !important;
}

fieldset.fields2 dd.captcha-image {
    margin-bottom:      5px                     !important;
}
