.scroll-btn {
    border:             2px solid               !important;
}

.scroll-btn-arrow {
    border-bottom:      3px solid               !important;
    border-left:        3px solid               !important;
}
