.scroll-btn {
    background-color:   $dark_bg                !important;
    border:             2px solid $light_hints  !important;
}

.scroll-btn-arrow {
    border-bottom:      3px solid $light_hints  !important;
    border-left:        3px solid $light_hints  !important;
    color:              $light_hints            !important;
}
