@import "board_index_tables";

// Table headers
ul.topiclist li.header {
    background-color:   $light_hints    !important;
}

ul.topiclist li.header * {
    color:              $dark_bg        !important;
    margin-bottom:      0px             !important;
    margin-top:         0px             !important;
    padding-bottom:     0px             !important;
    padding-top:        0px             !important;
}

// Body
li.row {
    background-color:   $dark_bg        !important;
    border-radius:      0px             !important;
    color:              $text_color     !important;
    margin-bottom:      0px             !important;
    margin-top:         0px             !important;
}

li.row:hover {
    background-color:   $normal_bg      !important;
}

li.row:first-child {
    border-top-left-radius:     2px     !important;
    border-top-right-radius:    2px     !important;
}

li.row:last-child {
    border-bottom-right-radius: 2px     !important;
    border-bottom-left-radius:  2px     !important;
}
