div.panel.bg2 {
    border:             1px solid               !important;
}

form#tradeform textarea {
    margin-top:         3px                     !important;
}

input#tradevalue,
input#member {
    border-radius:      $small_border_radius    !important;
    height:             24px                    !important;
    top:                -5px                    !important;
    position:           relative                !important;
}

div.forumbg.forumbg-table div.inner {
    background:          none                   !important;
}

div.forumbg.forumbg-table div.inner thead *{
    padding-top:        6px                     !important;
    padding-bottom:     12px                    !important;
}
