@import "threads_polls";
@import "post_contents";

#qr_postform div.panel {
    border:             1px solid               !important;
}

form + hr {
    display:            none                    !important;
}

div.content + div.signature {
    border-top:         1px solid               !important;
}
