.btn-default {
    background-image:   none                            !important;
    border:             1px solid                       !important;
}

.btn-danger {
    background-image:   none                            !important;
    border:             1px solid                       !important;
}

.btn-danger:hover {
    border:             1px solid                       !important;
}
