a.btn.btn-default {
    background-image:   none                            !important;
    border:             1px solid                       !important;
}

a.btn.btn-danger {
    background-image:   none                            !important;
    border:             1px solid                       !important;
}

a.btn.btn-danger:hover {
    border:             1px solid                       !important;
}

p.bg-danger {
    border-radius:      $small_border_radius            !important;
}
