#navigation ul  {
    border:             1px solid               !important;
    border-radius:      $small_border_radius    !important;
}

#navigation a {
    margin:             0px                     !important;
}

#navigation ul:nth-child(2) {
    margin-top:         5px                     !important;
}

// Friends panel
div#cp-menu div.cp-mini {
    border:             1px solid               !important;
    border-radius:      $small_border_radius    !important;
    margin-left:        0px                     !important;
    margin-right:       0px                     !important;
}

// Styling of UCP -> Private messages -> message colours legend
span.imageset.pm_marked,
span.imageset.pm_replied,
span.imageset.pm_friend,
span.imageset.pm_foe {
    display:            none                    !important;
}

dl.mini dd.pm-legend {
    border-left:        10px solid              !important;
}
