@import "ucp_tabs";

// Left navigation menu
#navigation ul  {
    border:             1px solid $border_color !important;
    border-radius:      $small_border_radius    !important;
}

#navigation a {
    background:         $dark_bg                !important;
    margin:             0px                     !important;
}

#navigation #active-subsection a {
    color:              $colored_hints          !important;
}

#navigation #active-subsection a, #navigation a:hover {
    background-color:   $normal_bg              !important;
}

#navigation ul:nth-child(2) {
    margin-top:         5px                     !important;
}

// Body proper
div.panel.bg3 {
    border:             1px solid $border_color !important;
}

div.panel.bg3, div.panel.bg3 div.panel {
    background-color:   $dark_bg                !important;
}

div.panel.bg3 div.panel, div.panel.bg3 div.panel dt {
    color:              $text-color             !important;
}

div.panel.bg3 div.panel li.header dt {
    color:              $dark_text_color        !important;
}

div.panel.bg3 div.panel dl.details dd {
    color:              $colored_hints          !important;
}

// Friends panel
div.cp-mini {
    background-color:   $dark_bg                !important;
    border: 1px solid   $border_color           !important;
    border-radius:      $small_border_radius    !important;
    margin-left:        0px                     !important;
    margin-right:       0px                     !important;
}

div.cp-mini dt {
    color:              $colored_hints          !important;
}
