li.tab a, .tab a:hover {
    margin:             0px 1px 0px 0px !important;
}

li.tab a {
    background-image:   none            !important;
}

li.activetab a {
    padding:            5px 9px         !important;
}

// Compact dropdown tab
li.tab.dropdown-container > a::before {
    border:             0px             !important;
    content:            '\f0c9'         !important;
    font-family:        FontAwesome     !important;
    top:                5px             !important;
}
