.tab a, .tab a:hover {
    margin:             0px 1px 0px 0px !important;
}

.tab a {
    background-color:   $dark_bg        !important;
    background-image:   none            !important;
}

.tab a:hover {
    background-color:   $normal_bg      !important;
}

.activetab a {
    background-color:   $normal_bg      !important;
    color:              $colored_hints  !important;
    padding:            5px 9px         !important;
}
