@import "ucp_tabs";
@import "ucp_menu";

// Body proper
div.panel.bg3 {
    border:             1px solid                       !important;
}

// Manage "remember me" login keys table
div.inner table.table1 {
    border:             5px solid                       !important;
    border-collapse:    separate                        !important;
    border-radius:      $big_border_radius              !important;
}

div.inner table.table1 thead th {
    padding-bottom:     12px                            !important;
    padding-top:        6px                             !important;
}

div.inner table.table1 tr:first-child td:first-child {
    border-top-left-radius:     $small_border_radius    !important;
}

div.inner table.table1 tr:first-child td:last-child {
    border-top-right-radius:    $small_border_radius    !important;
}

// Better styling for UCP -> Board preferences -> Edit notification options table
div.inner table.table1 tr.big-column {
    text-align:         center                          !important;
}

div.inner table.table1 tr:last-child td:first-child {
    border-bottom-left-radius:  $small_border_radius    !important;
}

div.inner table.table1 tr:last-child td:last-child {
    border-bottom-right-radius: $small_border_radius    !important;
}

// Styling of UCP -> Private messages -> row border colors
li.row.pm_marked_colour,
li.row.pm_replied_colour,
li.row.pm_friend_colour,
li.row.pm_foe_colour {
    border-left:        3px solid                       !important;
    border-right:       3px solid                       !important;
}

// PM styles
div.pm {
    margin:             10px                            !important;
}

// Vertically center ucp checkboxes
dl dd.mark input {
    margin-top:         17px                            !important;
}

dl.icon dd.mark input {
    margin-top:         11px                            !important;
}

// Better horiz centering for UCP -> Private Messages -> Sent Messages table
ul.pmlist.missing-column dt {
    margin-right:       -330px                          !important;
}
