@namespace url(http://www.w3.org/1999/xhtml);
body, div.navbar, html, input, #wrap {
  color: #bbbbbb !important;
  background-color: #242424 !important; }

* {
  -webkit-box-shadow: none        !important;
  -moz-box-shadow: none        !important;
  box-shadow: none        !important;
  text-shadow: none            !important; }

*:not(.pointer):not(.pointer-inner) {
  border: 0px             !important;
  border-color: #363636 !important; }

a.button, a.button2, button.button, button.button2,
input.button1, input.button2, span.dropdown-trigger.button {
  background-color: #a73939 !important;
  background-image: none                    !important;
  border-radius: 2px !important;
  color: #242424 !important;
  padding: 3px                     !important;
  text-shadow: none                    !important; }

a.button:hover, a.button2:hover, button.button:hover, button.button2:hover,
input.button1:hover, input.button2:hover, span.dropdown-trigger.button:hover {
  background-color: #d23636 !important;
  color: #242424 !important; }

button.button2 {
  padding: 5px 4px                !important; }

.icon-button::before {
  background-image: none                    !important; }

a.button.icon-button:not(.search-adv-icon) {
  padding-left: 6px                     !important;
  padding-right: 6px                     !important; }

a.button2 {
  padding-bottom: 5px                     !important;
  padding-top: 5px                     !important; }

button.button.search-icon {
  padding: 0px 3px 0px 3px         !important; }

input.button1, input.button2 {
  padding: 6px                     !important; }

span.dropdown-trigger.button {
  padding-right: 20px                    !important; }

button.search-icon {
  border-radius: 0px                     !important; }

a.search-adv-icon {
  border-radius: 0px 2px 2px 0px !important; }

ul.recipients input.button2 {
  padding: 1px 5px 3px 5px         !important;
  position: relative                !important;
  top: -2px                    !important; }

div.panel.bg1,
li.donate-comment {
  background-color: #242424 !important;
  border: 1px solid #363636 !important; }

div.panel.bg1 div.inner div,
div.panel.bg2 form.payPalForm {
  color: #bbbbbb !important; }

input#manual-input {
  background-color: #363636 !important;
  height: 24px                    !important;
  border-radius: 2px !important; }

li.donate-comment {
  border-radius: 2px !important; }

fieldset dl label, fieldset.display-options label, #options-panel label,
div.left-box label, div.right-box label,
label[for="disable_bbcode"],
label[for="disable_magic_url"],
label[for="disable_smilies"] {
  color: #a73939 !important; }

fieldset dl:hover dt label {
  color: #d23636 !important; }

fieldset dl dd {
  margin-bottom: 0px                     !important; }

fieldset dl dd#tz_select_date {
  margin-bottom: 1px                     !important; }

fieldset dl dd label {
  position: relative                !important;
  top: 1px                     !important; }

@media (max-width: 1600px) {
  fieldset dl dd label[for="allowpm1"],
  fieldset dl dd label[for="allowpm0"],
  fieldset dl dd label[for="hideonline1"],
  fieldset dl dd label[for="hideonline0"] {
    top: 13px                    !important; } }
@media (min-width: 1601px) {
  fieldset dl dd label[for="allowpm1"],
  fieldset dl dd label[for="allowpm0"],
  fieldset dl dd label[for="bday_day"],
  fieldset dl dd label[for="bday_month"],
  fieldset dl dd label[for="bday_year"],
  fieldset dl dd label[for="hideonline1"],
  fieldset dl dd label[for="hideonline0"] {
    top: 6px                    !important; } }
fieldset dl dt label {
  position: relative                !important; }

dl.pmlist label {
  position: relative                !important; }

fieldset dl dt label[for="timezone"] {
  top: 18px                    !important; }

input#allowpm1,
input#allowpm0,
input#hideonline1,
input#hideonline0 {
  margin-top: -1px                    !important; }

input#disable_bbcode,
input#disable_magic_url,
input#disable_smilies {
  margin-top: 1px                     !important; }

@media (max-width: 1024px) {
  input#cur_password {
    margin-top: 17px                    !important; }

  select#dateoptions {
    margin-top: 7px                     !important; } }
@media (min-width: 1025px) and (max-width: 1600px) {
  form#ucp div#avatar_option_avatar_driver_remote dl:nth-child(2) dd,
  input#avatar_remote_url,
  input#avatar_upload_url,
  input#cur_password,
  input#new_password,
  input#password_confirm {
    margin-top: 11px                    !important; } }
@media (min-width: 1601px) and (max-width: 2048px) {
  form#ucp div#avatar_option_avatar_driver_remote dl:nth-child(2) dd,
  input#avatar_remote_url,
  input#avatar_upload_url,
  input#new_password,
  input#password_confirm {
    margin-top: 4px                    !important; }

  input#cur_password {
    margin-top: 11px                   !important; } }
@media (min-width: 2049px) {
  input#cur_password {
    margin-top: 4px                    !important; } }
div#postingbox {
  background-color: #242424 !important;
  border: 1px solid #363636 !important;
  color: #bbbbbb !important; }

div.abbc3_buttons_row {
  background-color: #242424 !important; }

div.abbc3_button,
input.abbc3_button {
  background-color: #a73939 !important;
  border-radius: 2px !important; }

div.abbc3_button:hover,
input.abbc3_button:hover {
  background-color: #d23636 !important; }

div.abbc3_button {
  padding: 1px                     !important; }

div.abbc3_button img {
  cursor: pointer                 !important; }

div#attach-panel {
  color: #bbbbbb !important; }

table.zebra-list th.attach-name {
  text-align: left                    !important; }

table.zebra-list th.attach-status {
  width: 60px                    !important; }

table.zebra-list tr.attach-row td {
  background-color: #242424 !important; }

table.zebra-list tr.attach-row textarea.inputbox {
  height: 21px                    !important; }

span.file-progress {
  width: 60px                    !important;
  top: 7px                     !important;
  position: relative                !important; }

form#guidefilter fieldset {
  height: 25px                    !important; }

form#guidefilter > span {
  background-color: #363636 !important;
  border-radius: 2px !important; }

form#guidefilter span {
  color: #bbbbbb !important; }

ul.guidelist li.row dt {
  padding-bottom: 3px                     !important;
  padding-top: 3px                     !important; }

ul.guidelist li.row dd.rating {
  padding-top: 8px                     !important; }

ul.guidelist li.row dd.views {
  padding-top: 10px                    !important; }

ul.guidelist li.row dd.lastpost {
  padding-top: 5px                     !important; }

a.icon-button::before, button.icon-button::before, span.icon-button::before {
  background-image: none                !important;
  color: #242424 !important;
  font-family: FontAwesome         !important;
  font-size: 8pt                 !important;
  text-align: center              !important; }

a.edit-icon::before {
  content: '\f040'             !important; }

button.forwardpm-icon::before {
  content: '\f045'             !important;
  font-size: 10pt                !important;
  padding-left: 3px                 !important;
  padding-right: 2px                 !important;
  position: relative            !important; }

a.newpm-icon::before {
  content: '\f069'             !important;
  padding-left: 2px                 !important;
  padding-top: 1px                 !important; }

a.post-icon::before {
  content: '\f067'             !important;
  padding-left: 2px                 !important;
  padding-top: 1px                 !important; }

button.post-icon::before {
  content: '\f067'             !important;
  padding-left: 2px                 !important;
  padding-top: 1px                 !important; }

a.quote-icon::before {
  content: '\f10d'             !important;
  font-size: 7pt                 !important; }

a.reply-icon::before {
  content: '\f112'             !important;
  margin-top: 4px                 !important;
  padding-left: 2px                 !important; }

a.report-icon::before {
  content: '\f12a'             !important; }

a.search-adv-icon::before {
  content: '\f013'             !important;
  left: -1px                !important;
  padding-top: 2px                 !important;
  position: relative            !important; }

button.search-icon::before {
  content: '\f002'             !important;
  left: -1px                !important;
  padding-top: 2px                 !important;
  position: relative            !important; }

span.tools-icon::before {
  content: '\f0ad'             !important;
  left: 1px                 !important;
  padding-top: 2px                 !important;
  position: relative            !important; }

span.dropdown-select::after {
  background-image: none                !important;
  border-left: 1px solid #242424 !important;
  content: '\f0d7'             !important;
  font-family: FontAwesome         !important;
  margin-top: -1px                !important;
  padding-top: 7px                 !important;
  text-align: center              !important; }

span.dropdown-select[title="Jump to"] {
  padding-left: 7px                 !important;
  padding-right: 24px                !important; }

label[for=icon-1] img, label[for=icon-4] img, label[for=icon-5] img,
label[for=icon-6] img, label[for=icon-7] img, label[for=icon-8] img,
label[for=icon-9] img, label[for=icon-10] img {
  display: none                   !important; }

label[for=icon-1]::after, label[for=icon-4]::after, label[for=icon-5]::after,
label[for=icon-6]::after, label[for=icon-7]::after, label[for=icon-8]::after,
label[for=icon-9]::after, label[for=icon-10]::after {
  color: #bbbbbb !important;
  font-family: FontAwesome     !important;
  font-size: 11pt            !important;
  font-weight: normal          !important;
  position: relative        !important;
  top: 3px             !important; }

label[for=icon-1]::after {
  color: #a73939 !important;
  content: '\f06d'         !important; }

label[for=icon-4]::after {
  color: #a73939 !important;
  content: '\f08a'         !important; }

label[for=icon-5]::after {
  content: '\f006'         !important; }

label[for=icon-6]::after {
  content: '\f1cd'         !important; }

label[for=icon-7]::after {
  content: '\f0e5'         !important; }

label[for=icon-8]::after {
  content: '\f05a'         !important; }

label[for=icon-9]::after {
  content: '\f059'         !important; }

label[for=icon-10]::after {
  content: '\f071'         !important; }

span.imageset:first-child {
  background-image: none            !important;
  font-family: FontAwesome     !important;
  padding: 7px             !important;
  position: relative        !important;
  top: 3px             !important; }

span.icon_contact::before, span.icon_post_target::before,
span.icon_post_target_unread::before, span.icon_topic_attach::before,
span.icon_topic_latest::before, span.icon_topic_newest::before,
span.icon_topic_poll::before {
  left: -7px            !important;
  top: -6px            !important;
  position: relative        !important; }

span.icon_contact::before {
  content: '\f0d7'         !important;
  font-size: 12pt            !important;
  top: -10px           !important; }

span.icon_post_target::before {
  content: '\f016'         !important; }

span.icon_post_target_unread::before {
  color: #a73939 !important;
  content: '\f016'         !important; }

span.icon_topic_attach::before {
  content: '\f0c6'         !important;
  font-size: 10pt            !important; }

span.icon_topic_latest::before {
  content: '\f050'         !important; }

span.icon_topic_newest::before {
  color: #a73939 !important;
  content: '\f08e'         !important; }

span.icon_topic_poll::before {
  content: '\f080'         !important; }

.dropdown-extended a.mark_read {
  background-color: #a73939 !important; }

.icon-mark {
  background-image: none                !important; }

.icon-mark::after, .icon-mark:hover::after {
  content: '\f05d'             !important;
  font-family: FontAwesome         !important;
  font-size: 16pt                !important;
  left: 6px                 !important;
  position: relative            !important;
  top: 1px                 !important; }

.icon-mark::after {
  color: #363636 !important; }

.icon-mark:hover::after {
  color: #242424 !important;
  left: 11px                !important; }

div.dropdown li.small-icon {
  margin-left: 25px                    !important; }

li.small-icon:not(.icon-tradegold) {
  background-image: none                    !important; }

li.small-icon:not(.icon-tradegold)::before {
  left: 0px                     !important;
  top: 0px                     !important; }

li.small-icon:not(.responsive-menu):not(.icon-tradegold) a {
  padding-left: 0px                     !important; }

div.dropdown li.small-icon:not(.icon-tradegold) a::before {
  position: absolute                !important;
  left: 0px                     !important; }

li.small-icon:not(.icon-tradegold) a::before {
  color: #bbbbbb !important;
  font-family: FontAwesome             !important;
  font-size: 130%                    !important;
  font-weight: normal                  !important; }

li.small-icon:not(.responsive-menu):not(.icon-tradegold) a::before {
  padding: 0px 5px                 !important; }

li.small-icon:not(.icon-tradegold) a:hover::before {
  color: #d23636 !important;
  display: inline-block            !important;
  text-decoration: none                    !important; }

li.breadcrumbs span:first-child > a::before {
  content: '\f015'                 !important; }

li.icon-contact a::before {
  color: #a73939 !important;
  content: '\f003'                 !important; }

li.icon-delete-cookies a::before {
  content: '\f014'                 !important; }

li.icon-donate a::before {
  color: #a73939 !important;
  content: '\f08a'                 !important; }

li.icon-faq a::before {
  color: #a73939 !important;
  content: '\f059'                 !important; }

li.icon-logout a::before {
  content: '\f011'                 !important; }

li.icon-notification a::before {
  color: #a73939 !important;
  content: '\f0a2'                 !important; }

#notification_list a::before {
  display: none                    !important; }

li.icon-pm a::before {
  color: #a73939 !important;
  content: '\f003'                 !important; }

li.icon-register a::before {
  color: colored_hints           !important;
  content: '\f234'                 !important; }

/*
li.icon-tradegold a::before {
    color:              $yellow                 !important;
    content:            '\f219'                 !important;
}*/
li.icon-members a::before {
  content: '\f007'                 !important; }

li.icon-search a::before {
  content: '\f002'                 !important; }

li.icon-search-active a::before {
  content: '\f0f6'                 !important; }

li.icon-search-new a::before {
  color: #a73939 !important;
  content: '\f1ea'                 !important; }

li.icon-search-self a::before {
  content: '\f14c'                 !important; }

li.icon-search-unanswered a::before {
  content: '\f016'                 !important; }

li.icon-search-unread a::before {
  color: #a73939 !important;
  content: '\f08e'                 !important; }

li.icon-team a::before {
  color: #a73939 !important;
  content: '\f0c0'                 !important; }

li.icon-profile a::before {
  content: '\f007'                 !important; }

li.icon-ucp a::before {
  content: '\f085'                 !important; }

li.icon-bookmark a::before {
  content: '\f097'                 !important; }

li.icon-sendemail a::before {
  content: '\f003'                 !important; }

li.icon-subscribe a::before {
  content: '\f046'                 !important; }

a.subforum {
  background-image: none            !important;
  padding-left: 0px             !important; }

a.subforum.read::before, a.subforum.unread::before {
  content: '\f016'         !important;
  font-family: FontAwesome     !important;
  padding: 0px 2px 2px 0px !important;
  position: relative        !important;
  top: -1px            !important; }

a.subforum.unread::before {
  color: #a73939 !important; }

a.subforum.read:hover::before, a.subforum.unread:hover::before {
  display: inline-block    !important;
  text-decoration: none            !important; }

a.subforum.read:hover::before {
  color: #bbbbbb !important; }

a.top2 {
  background-image: none                !important; }

a.top2::before {
  content: '\f139'             !important;
  font-family: FontAwesome         !important;
  font-size: 9pt                 !important;
  position: absolute            !important;
  margin-left: -14px               !important; }

#quick-links > a::before {
  border: 0px                 !important;
  content: '\f0c9'             !important;
  color: #a73939 !important;
  top: 4px                 !important; }

span.file-uploaded {
  background-image: none                !important; }

span.file-uploaded::before {
  content: '\f058'             !important;
  color: #78b082 !important;
  font-family: FontAwesome         !important;
  font-size: 12pt                !important; }

blockquote {
  background-image: none                !important; }

blockquote div cite::before {
  content: '\f10d'             !important;
  font-family: FontAwesome         !important;
  left: -10px               !important;
  position: relative            !important; }

a.arrow-left {
  background-image: none                !important; }

a.arrow-left:hover {
  left: -3px                !important;
  position: relative            !important; }

a.arrow-left::before {
  content: '\f104'             !important;
  font-family: FontAwesome         !important;
  padding-right: 5px                 !important; }

a.arrow-left:hover::before {
  content: '\f100'             !important; }

ul.post-buttons.compact a::before {
  content: '\f0c9'             !important;
  left: -1px                !important;
  position: relative            !important; }

ul.post-buttons.compact ul.dropdown-contents a::before {
  display: none                !important; }

input.inputbox, textarea {
  background-color: #363636 !important;
  border-radius: 2px !important;
  color: #bbbbbb !important; }

input.inputbox:not(.search).tiny {
  height: 21px                    !important; }

input.search.tiny {
  border: 0px                                                 !important;
  border-radius: 2px 0px 0px 2px !important; }

input:-moz-placeholder {
  color: #666666 !important; }

input::-moz-placeholder {
  color: #666666 !important; }

input::-webkit-input-placeholder {
  color: #666666 !important; }

select {
  background-color: #999999 !important;
  border-radius: 2px !important;
  color: #242424 !important;
  height: 24px                    !important; }

select#usernames {
  height: auto                    !important; }

#flag-container {
  background-color: #363636 !important;
  border-radius: 2px !important;
  color: #a73939 !important; }

form#login div.panel {
  background-color: #242424 !important;
  border: 1px solid #363636 !important; }

a {
  color: #bbbbbb !important; }

a:hover, a.username-coloured:hover {
  color: #d23636 !important; }

a.username-coloured {
  color: #a73939 !important; }

a.postlink,
a.postlink-local {
  color: #a73939 !important;
  border-bottom: 1px solid #a73939 !important; }

a.postlink:hover,
a.postlink-local:hover {
  background-color: #a73939 !important;
  color: #242424 !important;
  text-decoration: none                        !important; }

dl.faq strong {
  color: #a73939 !important; }

h2 {
  color: #bbbbbb !important; }

h3 {
  color: #a73939 !important;
  border-bottom: 1px solid #363636 !important; }

h4 {
  color: #883939 !important; }

hr:not(.divider) {
  border-top: 1px solid #363636 !important; }

hr.dashed {
  border-top: 1px dashed #363636 !important; }

#topic_preview {
  background-color: #242424 !important;
  border: 1px solid #363636 !important;
  color: #bbbbbb !important; }

#topic_preview::before,
#topic_preview.invert::after {
  background-color: #242424 !important;
  border-color: #363636 !important; }

div#message {
  background-color: #242424 !important;
  border: 1px solid #363636 !important; }

div#message p {
  color: #bbbbbb !important; }

div.online-list span.username-coloured {
  color: #936ca1 !important; }

div.vote-up a:hover,
div.vote-down a:hover {
  color: #242424 !important; }

div.vote-up a i.fa:hover,
div.vote-down a i.fa:hover {
  background-color: #a73939 !important; }

a[href$="&g=5"] {
  color: #a73939 !important; }

a[href$="&g=4"] {
  color: #16bb16 !important; }

a[href$="&g=13"] {
  color: #78b082 !important; }

::-moz-selection {
  color: #242424 !important;
  background: #a73939 !important; }

div.navbar {
  background-color: #242424 !important;
  border: 1px solid #363636 !important; }

div.pointer {
  border-color: #363636 transparent !important; }

div.pointer-inner {
  border-color: #242424 transparent !important; }

div.dropdown-contents, div.dropdown-contents div.header, ul.dropdown-contents {
  background: #242424 !important;
  color: #bbbbbb !important;
  text-shadow: none                        !important; }

div.dropdown-contents, ul.dropdown-contents {
  border: 1px solid #363636 !important; }

div.dropdown-contents div.header {
  border-bottom: 1px solid #363636 !important; }

div.dropdown-contents div.footer {
  border-top: 1px solid #363636 !important; }

a.notification-block:hover {
  background-color: #404040 !important; }

a.notification-block:hover span.username-coloured {
  color: #bbbbbb !important; }

a.notification-block p.notification-time {
  color: #a73939 !important; }

#username_logged_in::before {
  content: ''                          !important; }

div.header-profile span.username::after {
  content: '\f0d7'                     !important;
  font-family: FontAwesome                 !important;
  font-size: 130%                        !important; }

li.row div.pagination {
  background-image: none                    !important; }

div.pagination a.dropdown-toggle,
div.pagination ul li a,
div.pagination ul li span {
  background-image: none                    !important;
  background-color: #242424 !important;
  border: 1px solid #363636 !important;
  color: #8c7a5c !important; }

div.pagination a.dropdown-toggle:hover,
div.pagination ul li a:hover,
div.pagination ul li span:hover {
  background-color: #d23636 !important;
  color: #242424 !important; }

div.pagination ul li.active span {
  background-color: #a73939 !important;
  color: #242424 !important; }

div.pagination ul li.ellipsis span,
li.ellipsis span {
  border: 0px                     !important;
  color: #bbbbbb !important;
  font-size: 110%                    !important; }

div.pagination a.dropdown-toggle::before,
div.pagination li.next a::before,
div.pagination li.previous a::before {
  font-family: FontAwesome             !important; }

div.pagination a.dropdown-toggle::before {
  content: '\f178'                 !important;
  font-size: 16pt                    !important; }

div.pagination li.next a::before,
div.pagination li.previous a::before {
  font-size: 9pt                     !important;
  position: relative                !important;
  top: 1px                     !important; }

div.pagination li.next a::before {
  content: '\f054'                 !important;
  left: 1px                     !important; }

div.pagination li.previous a::before {
  content: '\f053'                 !important; }

div.phpbb_alert {
  border-color: #363636 !important;
  border-radius: 5px !important;
  background-color: #242424 !important; }

div.phpbb_alert a.alert_close {
  background-image: none                !important;
  background-color: #242424 !important;
  border-radius: 50%                 !important;
  width: 17px                !important;
  height: 17px                !important;
  margin-right: -33px               !important;
  margin-top: -8px                !important; }

div.phpbb_alert a.alert_close::before {
  content: '\f05c'             !important;
  font-family: FontAwesome         !important;
  font-size: 14pt                !important;
  position: relative            !important;
  left: 1px                 !important;
  top: -1px                !important; }

fieldset.quick-login label {
  color: #a73939 !important; }

form#agreement div.panel,
form#register div.panel {
  background-color: #242424 !important;
  border: 1px solid #363636 !important; }

form#register dd.error {
  color: #d23636 !important; }

form#register div.panel,
div.captcha-panel {
  color: #bbbbbb !important; }

form#register input#new_password,
form#register input#password_confirm,
form#register input#username {
  position: relative                !important; }

form#register input#username {
  top: 19px                    !important; }

form#register input#new_password {
  top: 8px                     !important; }

form#register label[for="password_confirm"] {
  top: 6px                     !important; }

form#register input#password_confirm {
  top: -6px                    !important; }

div.captcha-panel input#confirm_code {
  height: 21px                    !important; }

fieldset.fields2 dd.captcha-image {
  margin-bottom: 5px                     !important; }

.scroll-btn {
  background-color: #242424 !important;
  border: 2px solid #999999 !important; }

.scroll-btn-arrow {
  border-bottom: 3px solid #999999 !important;
  border-left: 3px solid #999999 !important;
  color: #999999 !important; }

div.forabg,
div.forumbg {
  background: none                    !important; }

div.forabg div.inner,
div.forumbg div.inner {
  background-color: #999999 !important;
  border-radius: 5px !important;
  padding: 5px !important; }

div.forabg div.inner ul.topiclist.forums,
div.forumbg div.inner ul.topiclist.forums {
  background-color: #999999 !important; }

div.forabg div.inner ul.topiclist.forums li.row,
div.forumbg div.inner ul.topiclist.forums li.row {
  background-color: #242424 !important; }

div.forabg div.inner ul.topiclist.forums li.row:hover,
div.forumbg div.inner ul.topiclist.forums li.row:hover {
  background-color: #363636 !important; }

li.row dt {
  padding-top: 6px                     !important; }

li#for7 dt, li#for13 dt {
  padding-top: 0px                     !important; }

div.forabg li.row dd.topics,
div.forabg li.row dd.posts {
  padding-top: 11px                    !important; }

div.forabg li.row dd.lastpost {
  padding-top: 2px                     !important; }

div.forumbg li.row dd.posts,
div.forumbg li.row dd.views {
  padding-top: 8px                     !important; }

div.forumbg li.row dd.lastpost {
  padding-top: 3px                     !important; }

div#cat26.forabg div.inner ul.topiclist.forums {
  background-color: #242424 !important;
  border-radius: 2px !important;
  margin: 0px                     !important; }

#for27.row,
#for28.row,
#for29.row,
#for30.row {
  margin-bottom: 5px                     !important;
  margin-top: 5px !important; }

#for27.row dl.forum_read,
#for28.row dl.forum_read,
#for29.row dl.forum_read,
#for30.row dl.forum_read {
  opacity: 0.2                     !important; }

#for27.row dl.forum_read:hover,
#for28.row dl.forum_read:hover,
#for29.row dl.forum_read:hover,
#for30.row dl.forum_read:hover {
  opacity: 0.4                     !important; }

#for27.row dl.forum_unread,
#for28.row dl.forum_unread,
#for29.row dl.forum_unread,
#for30.row dl.forum_unread {
  opacity: 0.8                     !important; }

#for27.row dl.forum_unread:hover,
#for28.row dl.forum_unread:hover,
#for29.row dl.forum_unread:hover,
#for30.row dl.forum_unread:hover {
  opacity: 1                       !important; }

ul.topiclist li.header {
  background-color: #999999 !important; }

ul.topiclist.guidelist li.header *,
ul.topiclist li.header * {
  color: #242424 !important;
  margin-bottom: 0px                                             !important;
  margin-top: 0px                                             !important;
  padding-bottom: 0px                                             !important;
  padding-top: 0px                                             !important; }

ul.topiclist.two-columns li.header div.list-inner {
  font-family: Tahoma                                          !important;
  font-size: 14px                                            !important;
  line-height: 14px                                            !important; }

ul.topiclist li.header {
  padding: 6px 0px 11px 0px                                !important; }

ul.topiclist.guideheader li.header,
ul.topiclist.two-columns li.header,
div.panel ul.topiclist li.header {
  border: 5px solid #999999 !important;
  border-bottom: 0px                                             !important;
  border-radius: 5px !important; }

ul.topiclist.guideheader li.header,
div.panel ul.topiclist.two-columns li.header,
div.panel ul.topiclist.missing-column li.header {
  border-bottom-right-radius: 0px                                             !important;
  border-bottom-left-radius: 0px                                             !important; }

ul.topiclist.guidelist:not(.guideheader),
ul.topiclist.cplist.two-columns,
ul.topiclist.cplist.missing-column {
  border: 5px solid #999999 !important;
  border-top: 0px                                             !important;
  background-color: #999999 !important;
  border-radius: 0px 0px 5px 5px !important; }

ul.topiclist li.header dd.lastpost,
ul.topiclist li.header dd.mark,
ul.topiclist li.header dd.posts,
ul.topiclist li.header dd.rating,
ul.topiclist li.header dd.topics,
ul.topiclist li.header dd.version,
ul.topiclist li.header dd.views {
  padding-top: 2px                                             !important; }

li.row {
  background-color: #242424 !important;
  border-radius: 0px                                             !important;
  color: #bbbbbb !important;
  margin-bottom: 0px                                             !important;
  margin-top: 0px                                             !important; }

li.row:hover {
  background-color: #363636 !important; }

li.row:first-child {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important; }

li.row:last-child {
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 2px !important; }

li.row strong {
  color: #bbbbbb !important; }

div.panel.bg2 {
  background-color: #242424 !important;
  border: 1px solid #363636 !important; }

form#tradeform span,
form#tradeform strong {
  color: #bbbbbb !important; }

form#tradeform textarea {
  margin-top: 3px                     !important; }

input#tradevalue,
input#member {
  background-color: #363636 !important;
  border-radius: 2px !important;
  height: 24px                    !important;
  top: -5px                    !important;
  position: relative                !important; }

form#tradeform label[for="confirm_box"] span {
  color: #a73939 !important; }

div.forumbg.forumbg-table div.inner {
  background-color: #999999 !important; }

div.forumbg.forumbg-table div.inner thead * {
  color: #242424 !important;
  padding-top: 6px                     !important;
  padding-bottom: 12px                    !important; }

tr.bg1 {
  background-color: #242424 !important; }

tr.bg1:hover {
  background-color: #363636 !important; }

tr.bg1 td {
  color: #a73939 !important; }

div.bg1 {
  background-color: #363636 !important; }

div.bg2 {
  background-color: #363636 !important; }

div.content, p.author {
  color: #bbbbbb !important; }

div.postbody h3 {
  border: 0px                     !important; }

div.vote-no-bar {
  color: #bbbbbb !important; }

dl.postprofile dd.profile-contact strong,
dl.postprofile dd.profile-cookies,
dl.postprofile dd.profile-cookies strong,
dl.postprofile dd.profile-posts strong {
  color: #bbbbbb !important; }

#qr_postform div.panel {
  background-color: #242424 !important;
  border: 1px solid #363636 !important; }

form + hr {
  display: none                    !important; }

div.signature {
  border-top: 1px solid #999999 !important;
  color: #bbbbbb !important; }

div.content > blockquote,
div.content > div.codebox,
div.content > div.detail-spoiler div.hidden,
div.content > div.spoilwrapper,
div.codebox > code {
  border: 0px                     !important; }

blockquote, code, div.codebox, div.detail-spoiler div.hidden,
div.spoilwrapper {
  border: 1px solid #363636 !important; }

blockquote, code, div.codebox, div.detail-spoiler div.hidden,
div.spoilwrapper, pre.nfo {
  background-color: #242424 !important;
  border-radius: 2px !important; }

code {
  color: #16bb16 !important; }

div.spoiltitle span.spoilbtn, div.spoilcontent, pre.nfo {
  color: #bbbbbb !important; }

div.hidebox_visible, div.hidebox_hidden {
  border-radius: 2px !important;
  color: #242424 !important; }

div.hidebox_visible {
  background-color: #78b082 !important; }

div.hidebox_hidden {
  background-color: #883939 !important; }

div.hidebox_title {
  border-right: 1px solid #242424 !important;
  border-bottom: 1px solid #242424 !important;
  border-radius: 2px 0px 2px 0px !important;
  color: #242424 !important;
  left: 0px                     !important;
  top: 0px                     !important; }

dl.attachbox {
  background-color: #242424 !important;
  color: #bbbbbb !important; }

dl.thumbnail a,
img.postimage {
  background-color: #242424 !important; }

.tab a, .tab a:hover {
  margin: 0px 1px 0px 0px !important; }

.tab a {
  background-color: #242424 !important;
  background-image: none            !important; }

.tab a:hover {
  background-color: #363636 !important; }

.activetab a {
  background-color: #363636 !important;
  color: #a73939 !important;
  padding: 5px 9px         !important; }

#navigation ul {
  border: 1px solid #363636 !important;
  border-radius: 2px !important; }

#navigation a {
  background: #242424 !important;
  margin: 0px                     !important; }

#navigation #active-subsection a {
  color: #a73939 !important; }

#navigation #active-subsection a, #navigation a:hover {
  background-color: #363636 !important; }

#navigation ul:nth-child(2) {
  margin-top: 5px                     !important; }

div.cp-mini {
  background-color: #242424 !important;
  border: 1px solid #363636 !important;
  border-radius: 2px !important;
  margin-left: 0px                     !important;
  margin-right: 0px                     !important; }

div.cp-mini dt {
  color: #a73939 !important; }

dl.mini {
  color: #bbbbbb !important; }

span.imageset.pm_marked,
span.imageset.pm_replied,
span.imageset.pm_friend,
span.imageset.pm_foe {
  display: none                    !important; }

dd.pm-legend {
  border-left: 10px solid              !important; }

dd.pm_marked_colour {
  border-color: #dd8800 !important; }

dd.pm_replied_colour {
  border-color: #88dddd !important; }

dd.pm_friend_colour {
  border-color: #22dd22 !important; }

dd.pm_foe_colour {
  border-color: #ee3333 !important; }

div.panel.bg3 {
  border: 1px solid #363636 !important; }

div.panel.bg3, div.panel.bg3 div.panel {
  background-color: #242424 !important; }

div.panel.bg3 div.panel, div.panel.bg3 div.panel dt {
  color: #bbbbbb !important; }

div.panel.bg3 div.panel li.header dt {
  color: #242424 !important; }

div.panel.bg3 div.panel dl.details dd {
  color: #a73939 !important; }

table.table1 {
  border: 5px solid #999999 !important;
  border-collapse: separate                !important;
  border-radius: 5px !important; }

table.table1 thead th {
  background-color: #999999 !important;
  padding-bottom: 12px                    !important;
  padding-top: 6px                     !important; }

table.table1 tr {
  background-color: #242424 !important; }

table.table1 tr:hover {
  background-color: #363636 !important; }

table.table1 tr td,
table.table1 tr td label {
  color: #a73939 !important; }

table.table1 tr.big-column {
  background-color: #404040 !important;
  text-align: center                  !important; }

table.table1 tr.big-column td {
  color: #bbbbbb !important; }

li.row.pm_marked_colour,
li.row.pm_replied_colour,
li.row.pm_friend_colour,
li.row.pm_foe_colour {
  border-left: 3px solid               !important; }

li.row.pm_marked_colour {
  border-color: #dd8800 !important; }

li.row.pm_replied_colour {
  border-color: #88dddd !important; }

li.row.pm_friend_colour {
  border-color: #22dd22 !important; }

li.row.pm_foe_colour {
  border-color: #ee3333 !important; }

ul.cplist dd.mark,
ul.missing-column li.header dd.mark {
  margin-left: 15px                    !important; }

div.notification_list ul.cplist dd.mark,
div.notification_list ul.missing-column li.header dd.mark,
form#ucp ul.cplist dd.mark,
form#ucp ul.missing-column li.header dd.mark {
  margin-left: 0px                     !important; }

/*# sourceMappingURL=fmxl.css.map */
