@namespace url(http://www.w3.org/1999/xhtml);
@import "colors";
@import "base";
@import "inputs";

// Links
a {
    color: $text_color              !important;
}

a:hover {
    color: $bright_red_hints_color  !important;
}
