body.section-donate div.panel {
    border:             1px solid               !important;
}

div.panel.bg1 {
    border:             1px solid               !important;
}

input#manual-input {
    height:             24px                    !important;
    border-radius:      $small_border_radius    !important;
}

li.donate-comment {
    border-radius:      $small_border_radius    !important;
}
