div#page-header div.navbar,
div#page-footer div.navbar {
    border:             1px solid                   !important;
    border-radius:      $big_border_radius          !important;
}

// Dropdown menus
div.dropdown div.dropdown-contents,
div.dropdown ul.dropdown-contents  {
    border:             1px solid                   !important;
}

div.dropdown-contents div.header {
    border-bottom:      1px solid                   !important;
}

div.dropdown-contents div.footer {
    border-top:         1px solid                   !important;
}

ul li a.notification-block{
    padding:            8px                         !important;
}

// Username "icons" (circle on the left and triangle on the right)
#username_logged_in::before {
    content:            ''                          !important;
}

div.header-profile span.username::after {
    content:            '\f0d7'                     !important;
    font-family:        FontAwesome                 !important;
    font-size:          130%                        !important;
}
