form.topic_poll div.panel {
    border:             1px solid               !important;
}

form.topic_poll div.panel fieldset dl div.pollbar3 {
    border-radius:      $small_border_radius    !important;
    padding-top:        2px                     !important;
    position:           relative                !important;
    top:                -2px                    !important;
}
