$always_light_text_color:   #bbbbbb;
$always_dark_text_color:    #242424;
$always_light_bg:           #999999;

$text_color:                #bbbbbb;
$dark_text_color:           #242424;
$author_text_color:         #242424;
$version_text_color:        #242424;

$lightest_bg:               #bbbbbb;
$lighter_bg:                #888888;
$light_bg:                  #404040;
$normal_bg:                 #363636;
$dark_bg:                   #242424;

$input_bg:                  #363636;
$placeholder_color:         #666666;

$light_hints:               #999999;
$bright_colored_hints:      #d23636;
$colored_hints:             #a73939;
$weak_colored_hints:        #883939;
$alt_colored_hints:         #78b082;
$alt_bright_colored_hints:  #16bb16;

$transparent_hints:         rgba(#ff8f8f, 0.5);

$light_border_color:        #888888;
$border_color:              #363636;

$pm_marked_color:           #dd8800;
$pm_replied_color:          #5b46ad;
$pm_friend_color:           #16bb16;
$pm_foe_color:              #d23636;

$cookie_bar_plus:           #16bb16;
$cookie_bar_minus:          #d23636;

$code_color:                #16bb16;
$pagination_color:          #8c7a5c;
$author_button_color:       #195ba8;
$version_button_color:      #cdcd0c;
$bot_names_color:           #936ca1;

$docs_magic:                #5b5be0;
