@import "../common/preset_assassin_dark";

div#h-header a:not(#h-download) {
    color:  $always_light_text_color    !important;
}

div#h-header a:hover:not(#h-download) {
    color:  $bright_colored_hints       !important;
}

ul#h-nav li {
    border: 0px                         !important;
}
