@import "../common/preset_assassin_dark";

div#h-header a {
    background-color:   transparent                 !important;
}

div#h-header a:not(#h-download) {
    color:              $always_light_text_color    !important;
}

div#h-header a:hover:not(#h-download) {
    color:              $bright_colored_hints       !important;
}

a.site-current::after {
    color:              $bright_colored_hints       !important;
    content:            "\25bc"                     !important;
    left:               -50%                        !important;
    position:           relative                    !important;
    top:                -13px                       !important;
}

ul#h-nav li {
    border:             0px                         !important;
}
