* {
  -webkit-box-shadow: none        !important;
  -moz-box-shadow: none        !important;
  box-shadow: none        !important;
  text-shadow: none                        !important; }

body {
  background-image: none                        !important; }

div#h-header a:not(#h-download) {
  color: #bbbbbb !important; }

div#h-header a:hover:not(#h-download) {
  color: #d23636 !important; }

ul#h-nav li {
  border: 0px                         !important; }
