// INTRODUCTION PAGE
u {
    text-decoration:    none    !important;
}

// ENERGY FACTOR PAGE
body#energyfactor img {
    border-width:       0px     !important;
}

// UNIQUES PAGE
body[id="#uniques"] table {
    border-style:       solid   !important;
}

// Keep this last
/*[[docs_colorscheme]]*/

